<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695943159687-0f626m9benod90dsg73aq6ijlfgnefge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695943159687-0f626m9benod90dsg73aq6ijlfgnefge</string>
	<key>API_KEY</key>
	<string>AIzaSyAjsW-nn0TuByztpB_6qHWgIyNJUdWfXsc</string>
	<key>GCM_SENDER_ID</key>
	<string>695943159687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apoDelivery</string>
	<key>PROJECT_ID</key>
	<string>apo-project-7388e</string>
	<key>STORAGE_BUCKET</key>
	<string>apo-project-7388e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695943159687:ios:729d444ba6b1f055fafd22</string>
	<key>DATABASE_URL</key>
	<string>https://apo-project-7388e-default-rtdb.firebaseio.com</string>
</dict>
</plist>